


.card {
    position: relative;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
}
.listview:not(.lv-lg):not(.lv-message) .lv-item {
    padding: 10px 20px;
}

@media (min-width: 480px) {
    .listview.lv-lg .lv-item
    {
        padding: 15px 35px 15px 25px;
    }
}

@media (max-width: 767px) {
    .listview.lv-lg .lv-item {
        padding: 15px 35px 15px 20px;
    }
}

.listview.lv-lg .lv-item:hover {
    background-color: #FFFFDB;
}

.listview .lv-item {
    position: relative;
    display: block;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.listview .lv-item1 .pull-left
{
    padding-right:20px;
    padding-left:20px;
    height: 70px;
}

.listview .lv-item .lv-small {
    font-size: 12px;
    color: #A9A9A9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}

.listview .lv-item .checkbox,
.listview .lv-item.media {
    margin: 0;
}

.listview .lv-item .lv-actions {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size:20px;
}

@media (max-width: 480px) {
    .listview .lv-item .lv-actions {
        right: 10px;
    }
}

.listview .lv-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.listview a.lv-item:hover {
    background: #ECF9FF;
}

.listview [class*="lv-img"] {
    border-radius: 50%;
}

.listview .lv-img {
    width: 48px;
    height: 48px;
}

.listview .lv-img-sm {
    width: 45px;
    height: 45px;
}

.listview .lv-img-sm-up {
    width: 50px;
    height: 60px;
}

.listview.lv-bordered .lv-item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.listview .lv-attrs {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.listview .lv-attrs > li {
    display: inline-block;
    padding: 2px 10px 3px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 2px;
}

.listview .lv-attrs > li:not(.info):not(.primary):not(.warning):not(.danger) {
    border: 1px solid #dedede;
    background: #ffffff;
    color: #5e5e5e;
}

.listview .lv-attrs > li.info {
    border: 1px solid #00bcd4;
    background: #00bcd4;
    color: #ffffff;
}

.listview .lv-attrs > li.primary {
    border: 1px solid #2196f3;
    background: #2196f3;
    color: #ffffff;
}

.listview .lv-attrs > li.warning {
    border: 1px solid #ff9800;
    background: #ff9800;
    color: #ffffff;
}

.listview .lv-attrs > li.danger {
    border: 1px solid #f44336;
    background: #f44336;
    color: #ffffff;
}

.listview .lv-attrs > li > a {
    display: block;
}

.listview:not(.lv-message) .lv-title {
    color: #000;
    font-weight:600;
}
.font-noti-read{
    font-weight: normal;
}
[class*="lv-img"] {
    border-radius: 50%;
}

.lv-img {
    width: 48px;
    height: 48px;
}

.lv-img-sm {
    width: 35px;
    height: 35px;
}

.lv-header {
    text-align: center;
    padding: 15px 10px 13px;
    line-height: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid #F0F0F0;
    font-weight: 500;
    color: #4C4C4C;
    margin-bottom: 10px;
}

.lv-header .actions {
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 10;
}

.lvh-search {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: #fff;
    display: none;
}

.lvh-search:before {
    content: "\F349";
    font-family: "Material Design Icons";
    position: absolute;
    left: 24px;
    top: 17px;
    font-size: 25px;
}

.lvhs-input {
    border: 0;
    padding: 0 26px 0 55px;
    height: 63px;
    font-size: 18px;
    width: 100%;
    font-weight: 100;
    background: #fff;
    border-bottom: 1px solid #EEE;
}
.lvhs-back {
    border: 0;
    padding: 0 35px 0 15px;
    height: 60px;
    font-size: 30px;
    width: 100%;
    font-weight: 100;
    background: #fff;
    float: right;
    border-bottom: 0px solid #EEE;
}
.lvhs-back-view {
    border: 0;
    padding: 0 35px 0 15px;
    height: 60px;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    float: right;
    border-bottom: 0px solid #EEE;
}
.lvhs-select {
    border: 0;
    padding: 0 26px 0 55px;
    height: 63px;
    font-size: 18px;
    width: 100%;
    font-weight: 100;
    background: #fff;
    border-bottom: 1px solid #EEE;
}
.lvhs-date-filter {
    border: 0;
    padding: 0 0px 0 0px;
    height: 63px;
    font-size: 18px;
    width: 100%;
    font-weight: 100;
    background: #fff;
    border-bottom: 1px solid #EEE;
}
.lvhs-select:before {
    content: "\F48A";
    font-family: "Material Design Icons";
    position: absolute;
    left: 24px;
    top: 17px;
    font-size: 25px;
}
.lvh-search-close {
    font-style: normal;
    position: absolute;
    top: 23px;
    right: 22px;
    font-size: 17px;
    width: 18px;
    height: 18px;
    background-color: #ADADAD;
    line-height: 100%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.lvh-search-close:hover {
    background: #333;
}

.lv-header-alt {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #f8f8f8;

}
.lv-header-alt-view {
    position: fixed;
    width: 100%;
    z-index: 999;


}

.lv-header-alt .lv-actions {
    z-index: 3;
    float: right;
    margin-top: 3px;
    position: relative;
}

.lv-header-alt .lv-actions > li > a {
    margin: 0 3px;
}

.lvh-label {
    color: #818181;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 0 6px;
    line-height: 33px;
    vertical-align: middle;
    float: left;
}

.lv-footer {
    display: block;
    text-align: center;
    padding: 7px 10px 8px;
    border-top: 1px solid #F0F0F0;
    line-height: 100%;
    font-size: 11px;
    margin-top: 20px;
    color: #828282;
}

a.lv-footer:hover {
    color: #050505;
}
.media-body {
    zoom: 1;
    display: block;
    width: auto;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.lv-body
{
    position: relative;
    padding-top: 60px;
    z-index: 99;

}
.lv-form-body
{
    position: relative;
    padding-top: 75px;
    z-index: 99;
    padding-bottom:60px;

}

.lv-body-with-dropdown
{
    position: relative;
    padding-top: 120px;
    z-index: 99;

}

.fix
{
    position:fixed;
    width:100%;
    z-index:9999;
}
.fix-foot
{
    position:fixed;
    width:100%;
    bottom:0;
    z-index:999;
}
.p-0
{
    padding:0;
}
.contact-list
{
    position:relative;
    padding-top:50px;
}

.add-contact
{
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 999;
}
.add-contact a {
    display: block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 36px;
    border-radius: 100%;
    background: #000;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.13), 0 6px 10px rgba(0,0,0,.3);
    margin-top: 20px;
}
.row-pointer{
    cursor: pointer;
}

.input-border{
    border:solid 1px #000;
    width: 98%;
   

}
.input-red{
    border-bottom-left-radius: 1px;
    border-left-color: #A50032;
    border-left-style: solid;
    border-left-width: 3px;
    border-bottom-right-radius: 1px;


}
.input-green{
    border-bottom-left-radius: 1px;
    border-left-color: green;
    border-left-style: solid;
    border-left-width: 3px;
    border-bottom-right-radius: 1px;
}
/* ---------- For Add Contact -------------*/

.input-group
{
    margin-bottom:15px;
}
.add .listview.lv-lg .lv-item:hover
{
    background:none;
}

.add .btn-group
{
    box-shadow:none;
}
.add .media, .add .media-body
{
    overflow:visible;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select > .btn-default {
    background: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.bootstrap-select > .btn-default:before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: calc(100% - 2px);
    width: 30px;
    background-color: #FFF;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url("../images/select.png");
    pointer-events: none;
    z-index: 5;
}



.bootstrap-select > .btn-default:after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.bootstrap-select > .btn-default:not(.disabled):after,
.bootstrap-select > .btn-default:not(.readonly):after {
    background: #2196f3;
}

.bootstrap-select > .btn-default.disabled:after,
.bootstrap-select > .btn-default.readonly:after {
    background: #ccc;
}

.bootstrap-select.open > .btn-default:after {
    width: 100%;
}

.bootstrap-select .bs-searchbox {
    padding: 0 18px;
    margin: 5px 0 10px;
    position: relative;
}

.bootstrap-select .bs-searchbox:before {
    position: absolute;
    left: 14px;
    top: 2px;
    width: 30px;
    height: 100%;
    content: "\f1c3";
    font-family: 'Material-Design-Iconic-Font';
    font-size: 25px;
}

.bootstrap-select .bs-searchbox input {
    padding-left: 25px;
    border: 0;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-left: 17px;
}

.bootstrap-select .check-mark {
    margin-top: -5px !important;
    font-size: 19px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    display: block !important;
    position: absolute;
    top: 11px;
    right: 15px;
}



.bootstrap-select .selected .check-mark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.bootstrap-select .notify {
    bottom: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    border: 0 !important;
    background: #f44336 !important;
    color: #fff !important;
    text-align: center;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"] {
        line-height: 35px;
    }

    input[type="date"].input-sm,
    input[type="time"].input-sm,
    input[type="datetime-local"].input-sm,
    input[type="month"].input-sm,
    .input-group-sm input[type="date"],
    .input-group-sm input[type="time"],
    .input-group-sm input[type="datetime-local"],
    .input-group-sm input[type="month"] {
        line-height: 30px;
    }

    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 40px;
    }
}

.view
{
    height:70vh;
    padding:30px 0;
}
@media (max-width: 480px){
    .navbar .navbar-header {
        padding-left: 0px;
        float: left;
    }
}
@media (min-width: 280px) and (max-width: 1024px)
{
    .view .dl-horizontal dt {
        float: left;
        width: 100px;
        overflow: hidden;
        clear: left;
        text-align: left!important;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 100px;
    }
}
.view-font {
    color: #fff;
    font-family: 'Roboto',sans-serif1;
}
.font-strike-new {
    text-decoration: line-through;

}