<section class="contact-list">

    <div style="margin-left: 20px;">
        
        <input type="button" (click)="newUser(user)" value="ADD+"/>

    </div>
    <div [hidden]="viewdiv" style="margin: 20px;">
        <table style="border: solid 1px black;width: 100%">
            <tr *ngFor="let user of users">
                <td>
                    <div class="pull-left">
                        <img class="lv-img-sm"
                             src="http://sangelit.com/images/team/{{user.photo === null || user.photo === '' ? 'user.jpg' : user.photo}}"
                             alt="">
                    </div>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.gander}}</td>
                <td>{{user.country}}</td>
                <td>{{user.qualification}}</td>
                <td>
                    <a href="#" (click)="editUser(user)">Edit
                    </a>
                </td>
                <td>
                    <a href="#" (click)="deleteUser(user.userId)">Delete
                    </a>
                </td>
            </tr>
        </table>
        <div class="form-group">
        <pagination [boundaryLinks]="true" [totalItems]="totalResults"
                                [(ngModel)]="currentPage" (pageChanged)="currentPageChanged($event)"
                                [maxSize]="maxSize" ></pagination>
                               
                    </div>

    </div>

    <div [hidden]="formdiv" >
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div class="lv-item1 media">
                <div class="pull-left">
                    <label for="file">
                        <img class="lv-img-sm-up"
                             src="{{pro_src}}"
                             id="profile-image" alt=""
                             title="Upload image">
                        <input id="file" style="display:none" name="file" (change)="fileChange(input)"
                               #input
                               type="file">
                    </label>
                </div>

                <div class="media-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="mdi mdi-account"></i> </span>
                        <div class="fg-line" for="name">
                            <input type="text" class="form-control input-border "

                                   id="name" placeholder="Name" required
                                   [(ngModel)]="user.name" name="name"
                                   #name="ngModel">
                        </div>
                    </div>

                </div>
                <div class="input-group">
                    <span class="input-group-addon" for="mobile"><i class="mdi mdi-cellphone"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control input-border "
                               placeholder="Mobile Number"
                               id="mobile" required
                               maxlength="10" minlength="10" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                               [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel">
                    </div>

                </div>


                <div class="input-group">
                    <span class="input-group-addon" for="email"><i class="mdi mdi-email"></i></span>
                    <div class="fg-line">
                        <input type="email" class="form-control input-border " placeholder="Email"
                               id="email" required
                               [(ngModel)]="user.email" name="email" #email="ngModel">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" for="gander"><i class="mdi mdi-email"></i></span>
                    <div class="fg-line">

                        <input type="radio" [(ngModel)]="user.gander" name="sex" value="MALE">Male<br>
                        <input type="radio" [(ngModel)]="user.gander" name="sex" value="FEMALE">Female

                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" for="country"><i class="mdi mdi-email"></i></span>
                    <div class="fg-line">
                        <select class="form-control input-border" [(ngModel)]="user.country" id="country" required placeholder="Country"
                                name="type">
                            <option *ngFor="let country of countries"
                                    value={{country}}>{{country}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon" for="qualification"><i class="mdi mdi-email"></i></span>
                    <div class="fg-line">
                        <select class="form-control input-border" [(ngModel)]="user.qualification" id="qualification" placeholder="Qualification"
                                required
                                name="type">
                            <option *ngFor="let qualification of qualificatons"
                                    value={{qualification}}>{{qualification}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="input-group" style="width:98%;">
                    <button type="submit" class="btn btn-success" style="float: right">Submit</button>
                </div>
            </div>
        </form>
    </div>


</section>
